<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cxdproject.coder.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="cn.cxdproject.coder.model.entity.Article">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="issue_unit" property="issueUnit" />
        <result column="issue_time" property="issueTime" />
        <result column="content" property="content" />
        <result column="user_id" property="userId" />
        <result column="deleted" property="deleted" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="cover" property="cover" />
        <result column="image" property="cover" />
    </resultMap>

    <sql id="Base_Column_List">
            `id`,
            `title`,
            `issue_unit`,
            `issue_time`,
            `content`,
            `user_id`,
            `deleted`,
            'cover',
            `created_at`,
            `updated_at`,
            'image'
    </sql>

    <select id="getPageArticleIds" resultType="java.lang.Long">
        SELECT id
        FROM fi_articles
        <where>
            <if test="keyword != null and keyword != ''">
                title LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY issue_time DESC
        LIMIT #{offset}, #{size}
    </select>

    <select id="countByKeyword" resultType="long">
        SELECT COUNT(*)
        FROM fi_articles
        <where>
            <if test="keyword != null and keyword != ''">
                title LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="selectLatest10" resultType="cn.cxdproject.coder.model.entity.Article">
        SELECT id, title, issue_unit,cover,issue_time
        FROM fi_articles
        ORDER BY create_time DESC
            LIMIT 10
    </select>

</mapper>
