<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cxdproject.coder.mapper.DramaMapper">

    <resultMap id="BaseResultMap" type="cn.cxdproject.coder.model.entity.Drama">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="filing_num" property="filingNum" />
        <result column="prod_company" property="prodCompany" />
        <result column="crew_description" property="crewDescription" />
        <result column="drama_description" property="dramaDescription" />
        <result column="cast" property="cast" />
        <result column="shoot_location" property="shootLocation" />
        <result column="location_id" property="locationId" />
        <result column="service" property="service" />
        <result column="service_id" property="serviceId" />
        <result column="user_id" property="userId" />
        <result column="deleted" property="deleted" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="image" property="image" />
        <result column="thumb_image" property="thumbImage"/>
    </resultMap>

    <sql id="Base_Column_List">
            `id`,
            `name`,
            `filing_num`,
            `prod_company`,
            `crew_description`,
            `drama_description`,
            `cast`,
            `shoot_location`,
            `location_id`,
            `service`,
            `service_id`,
            `user_id`,
            `deleted`,
            `created_at`,
            `updated_at`,
            'image',
            'thumb_image'
    </sql>

    <select id="selectIds" resultType="long">
        SELECT id
        FROM fi_dramas
        <where>
            deleted = 0
            <!-- 模糊搜索 -->
            <if test="keyword != null and keyword != ''">
                AND (
                name LIKE CONCAT('%', #{keyword}, '%')
                OR drama_description LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>

            <if test="lastId != null">
                AND id &lt; #{lastId}
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{size}
    </select>

    <select id="getAdminPage" resultType="cn.cxdproject.coder.model.entity.Drama">
        SELECT *
        FROM fi_dramas
        WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (
            name LIKE CONCAT('%', #{keyword}, '%')
            OR drama_description LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
        ORDER BY created_at DESC
        LIMIT #{offset}, #{size}
    </select>

    <select id="selectLatest10" resultType="cn.cxdproject.coder.model.entity.Drama">
        SELECT *
        FROM fi_dramas
        ORDER BY created_time DESC
            LIMIT 10
    </select>

    <update id="updateDrama">
        UPDATE fi_dramas
        <set>
            <if test="dto.name != null and dto.name != ''">
                name = #{dto.name},
            </if>
            <if test="dto.filingNum != null and dto.filingNum != ''">
                filing_num = #{dto.filingNum},
            </if>
            <if test="dto.prodCompany != null and dto.prodCompany != ''">
                prod_company = #{dto.prodCompany},
            </if>
            <if test="dto.crewDescription != null and dto.crewDescription != ''">
                crew_description = #{dto.crewDescription},
            </if>
            <if test="dto.dramaDescription != null and dto.dramaDescription != ''">
                drama_description = #{dto.dramaDescription},
            </if>
            <if test="dto.cast != null and dto.cast != ''">
                cast = #{dto.cast},
            </if>
            <if test="dto.shootLocation != null and dto.shootLocation != ''">
                shoot_location = #{dto.shootLocation},
            </if>
            <if test="dto.service != null and dto.service != ''">
                service = #{dto.service},
            </if>
            <if test="dto.image != null and dto.image != ''">
                image = #{dto.image},
            </if>
            <if test="dto.thumbImage != null and dto.thumbImage != ''">
                thumb_image = #{dto.thumbImage},
            </if>
            <if test="dto.locationId != null and dto.locationId != '' ">
                location_id = #{dto.locationId},
            </if>
            <if test="dto.serviceId != null and dto.serviceId != ''">
                service_id = #{dto.serviceId},
            </if>
        </set>
        WHERE id = #{dramaId}
        AND deleted = false
    </update>
</mapper>
