<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cxdproject.coder.mapper.HotelMapper">

    <resultMap id="BaseResultMap" type="cn.cxdproject.coder.model.entity.Hotel">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="address" property="address" />
        <result column="manager_name" property="managerName" />
        <result column="manager_phone" property="managerPhone" />
        <result column="image" property="image" />
        <result column="deleted" property="deleted" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="thumb_image" property="thumbImage"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
    </resultMap>

    <sql id="Base_Column_List">
            `id`,
            `name`,
            `description`,
            `address`,
            `manager_name`,
            `manager_phone`,
            `image`
            `deleted`,
            `created_at`,
            `updated_at`,
            'thumb_image',
            'longitude',
            'latitude'
    </sql>

    <select id="selectIds" resultType="long">
        SELECT id
        FROM fi_hotel
        <where>
            deleted = 0
            <!-- 模糊搜索 -->
            <if test="keyword != null and keyword != ''">
                AND (
                name LIKE CONCAT('%', #{keyword}, '%')
                OR description LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>

            <if test="lastId != null">
                AND id &lt; #{lastId}
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{size}
    </select>

    <select id="getAdminPage" resultType="cn.cxdproject.coder.model.entity.Hotel">
        SELECT *
        FROM fi_hotel
        WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (
            name LIKE CONCAT('%', #{keyword}, '%')
            OR description LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
        ORDER BY created_at DESC
        LIMIT #{offset}, #{size}
    </select>

    <select id="selectLatest10" resultType="cn.cxdproject.coder.model.entity.Hotel">
        SELECT *
        FROM fi_hotel
        ORDER BY created_time DESC
            LIMIT 10
    </select>

    <update id="updateHotel">
        UPDATE fi_hotel
        <set>
            <if test="dto.name != null and dto.name != ''">
                name = #{dto.name},
            </if>
            <if test="dto.description != null and dto.description != ''">
                description = #{dto.description},
            </if>
            <if test="dto.address != null and dto.address != ''">
                address = #{dto.address},
            </if>
            <if test="dto.managerName != null and dto.managerName != ''">
                manager_name = #{dto.managerName},
            </if>
            <if test="dto.managerPhone != null and dto.managerPhone != ''">
                manager_phone = #{dto.managerPhone},
            </if>
            <if test="dto.image != null and dto.image != ''">
                image = #{dto.image},
            </if>
            <if test="dto.thumbImage != null and dto.thumbImage != ''">
                thumb_image = #{dto.thumbImage},
            </if>
            <if test="dto.longitude != null and dto.longitude != ''">
                longitude = #{dto.longitude},
            </if>
            <if test="dto.latitude != null and dto.latitude != ''">
                latitude = #{dto.latitude},
            </if>
        </set>
        WHERE id = #{id}
        AND deleted = false
    </update>

</mapper>