<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cxdproject.coder.mapper.LocationMapper">

    <resultMap id="BaseResultMap" type="cn.cxdproject.coder.model.entity.Location">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="location_description" property="locationDescription" />
        <result column="location_principal_phone" property="locationPrincipalPhone" />
        <result column="location_principal_name" property="locationPrincipalName" />
        <result column="gov_principal_phone" property="govPrincipalPhone" />
        <result column="gov_principal_name" property="govPrincipalName" />
        <result column="address" property="address" />
        <result column="price" property="price" />
        <result column="user_id" property="userId" />
        <result column="deleted" property="deleted" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="cover" property="cover" />
        <result column="image" property="image" />
        <result column="thumb_cover" property="thumbCover"/>
        <result column="thumb_image" property="thumbImage"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
    </resultMap>

    <sql id="Base_Column_List">
            `id`,
            `name`,
            `type`,
            `status`,
            `location_description`,
            `location_principal_phone`,
            'location_principal_name',
            'gov_principal_phone',
            'gov_principal_name',
            `contact_name`,
            `address`,
            `price`,
            `user_id`,
            'cover',
            `deleted`,
            `created_at`,
            `updated_at`,
            'image',
            'thumb_cover',
            'thumb_image',
            'longitude',
            'latitude'
    </sql>

    <select id="selectIds" resultType="long">
        SELECT id
        FROM fi_locations
        <where>
            deleted = 0
            <!-- 模糊搜索 -->
            <if test="keyword != null and keyword != ''">
                AND (
                name LIKE CONCAT('%', #{keyword}, '%')
                OR location_description LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>

            <if test="lastId != null">
                AND id &lt; #{lastId}
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{size}
    </select>

    <select id="getAdminPage" resultType="cn.cxdproject.coder.model.entity.Location">
        SELECT *
        FROM fi_locations
        WHERE deleted = 0
        AND id IN (
        SELECT id
        FROM fi_locations
        WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
            AND title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY created_at DESC
        LIMIT #{offset}, #{size}
        )
        ORDER BY created_at DESC
    </select>

    <select id="selectLatest10" resultType="cn.cxdproject.coder.model.entity.Location">
        SELECT *
        FROM fi_locations
        ORDER BY created_at DESC
            LIMIT 10
    </select>

</mapper>
