<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cxdproject.coder.mapper.PolicyMapper">

    <resultMap id="BaseResultMap" type="cn.cxdproject.coder.model.entity.Policy">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="type" property="type" />
        <result column="issue_unit" property="issueUnit" />
        <result column="issue_time" property="issueTime" />
        <result column="content" property="content" />
        <result column="image" property="image" />
        <result column="thumb_image" property="thumbImage" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="deleted" property="deleted" />
        <result column="status" property="status" />
    </resultMap>

    <sql id="Base_Column_List">
            `id`,
            `title`,
            `type`,
            `issue_unit`,
            `issue_time`,
            `content`,
            `image`,
            `thumb_image`,
            `created_at`,
            `updated_at`,
            `status`,
            `deleted`
    </sql>

    <select id="selectIds" resultType="long">
        SELECT id
        FROM fi_policy
        <where>
            deleted = 0
            AND status = 1
            <!-- 模糊搜索 -->
            <if test="keyword != null and keyword != ''">
                AND (
                title LIKE CONCAT('%', #{keyword}, '%')
                OR type LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="lastId != null">
                AND id > #{lastId}
            </if>
        </where>
        ORDER BY created_at ASC
        LIMIT #{size}
    </select>

    <select id="getAdminPage" resultType="cn.cxdproject.coder.model.entity.Policy">
        SELECT *
        FROM fi_policy
        WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (
            title LIKE CONCAT('%', #{keyword}, '%')
            OR type LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
        ORDER BY created_at ASC
        LIMIT #{offset}, #{size}
    </select>

    <select id="selectLatest10" resultType="cn.cxdproject.coder.model.entity.Policy">
        SELECT *
        FROM fi_policy
        WHERE deleted = 0
          AND status = 1
        ORDER BY created_at DESC
            LIMIT 10
    </select>

    <update id="updatePolicy">
        UPDATE fi_policy
        <set>
            <if test="dto.title != null">
                title = #{dto.title},
            </if>
            <if test="dto.type != null">
                type = #{dto.type},
            </if>
            <if test="dto.issueUnit != null ">
                issue_unit = #{dto.issueUnit},
            </if>
            <if test="dto.status != null">
                status = #{dto.status},
            </if>
            <if test="dto.issueTime != null">
                issue_time = #{dto.issueTime},
            </if>
            <if test="dto.content != null">
                content = #{dto.content},
            </if>
            <if test="dto.image != null">
                image = #{dto.image},
            </if>
            <if test="dto.thumbImage != null">
                thumb_image = #{dto.thumbImage},
            </if>
        </set>
        WHERE id = #{id}
        AND deleted = 0
    </update>

    <select id="getTotal" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM fi_policy
        WHERE deleted = 0
        AND status = 1
        <if test="keyword != null and keyword != ''">
            AND (
            title LIKE CONCAT('%', #{keyword}, '%')
            OR type LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
    </select>

    <select id="selectAll" resultType="cn.cxdproject.coder.model.entity.Policy">
        SELECT *
        FROM fi_policy
        WHERE deleted = 0
          AND status = 1
    </select>


</mapper>
