<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cxdproject.coder.mapper.ReportMapper">

    <resultMap id="BaseResultMap" type="cn.cxdproject.coder.model.entity.Report">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="genre" property="genre" />
        <result column="episodes" property="episodes" />
        <result column="invest_amount" property="investAmount" />
        <result column="main_creators" property="mainCreators" />
        <result column="lead_producer" property="leadProducer" />
        <result column="producer_unit" property="producerUnit" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="crew_scale" property="crewScale" />
        <result column="contact" property="contact" />
        <result column="phone_number" property="phoneNumber" />
        <result column="crew_position" property="crewPosition" />
        <result column="user_id" property="userId" />
        <result column="deleted" property="deleted" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="status" property="status" />
        <result column="shoot_permit" property="shootPermit" />
        <result column="thumb_shoot_permit" property="thumbShootPermit" />
        <result column="approval_file" property="approvalFile" />
        <result column="thumb_approval_file" property="thumbApprovalFile" />
        <result column="shoot_apply" property="shootApply" />
        <result column="thumb_shoot_apply" property="thumbShootApply" />
    </resultMap>

    <sql id="Base_Column_List">
            `id`,
            `name`,
            `type`,
            `genre`,
            `episodes`,
            `invest_amount`,
            `main_creators`,
            `lead_producer`,
            `producer_unit`,
            `start_date`,
            `end_date`,
            `crew_scale`,
            `contact`,
            `phone_number`,
            `crew_position`,
            `user_id`,
            `deleted`,
            `created_at`,
            `updated_at`,
            'status',
            `shoot_permit`,
            `thumb_shoot_permit`,
            `approval_file`,
            `thumb_approval_file`,
            `shoot_apply`,
            `thumb_shoot_apply`
    </sql>

    <select id="selectMyPage" resultType="cn.cxdproject.coder.model.entity.Report">
        SELECT r.*
        FROM fi_reports r
                 INNER JOIN (
            SELECT id
            FROM fi_reports
            WHERE user_id = #{userId}
              AND deleted = 0
            ORDER BY created_at DESC
                LIMIT #{offset}, #{size}
        ) tmp ON r.id = tmp.id
    </select>

    <select id="selectPageByAdmin" resultType="cn.cxdproject.coder.model.entity.Report">
        SELECT *
        FROM fi_reports
        WHERE deleted = 0
        AND id IN (
        SELECT id
        FROM fi_reports
        WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
            AND name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY created_at DESC
        LIMIT #{offset}, #{size}
        )
        ORDER BY created_at DESC
    </select>


</mapper>
