<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cxdproject.coder.mapper.TourMapper">

    <resultMap id="BaseResultMap" type="cn.cxdproject.coder.model.entity.Tour">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="theme" property="theme" />
        <result column="features" property="features" />
        <result column="transport" property="transport" />
        <result column="hotel" property="hotel" />
        <result column="food" property="food" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="deleted" property="deleted" />
        <result column="image" property="image" />
        <result column="thumb_image" property="thumbImage"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="location_id" property="locationId"/>
        <result column="drama_id" property="dramaId"/>
    </resultMap>

    <sql id="Base_Column_List">
            `id`,
            `name`,
            `description`,
            `theme`,
            `features`,
            `transport`,
            `hotel`,
            `food`,
            `created_at`,
            `updated_at`,
            `deleted`,
            `image`,
            'thumb_image',
            'longitude',
            'latitude',
            'locationId',
            'dramaId'
    </sql>

    <select id="selectIds" resultType="long">
        SELECT id
        FROM fi_tour
        <where>
            deleted = 0
            <!-- 模糊搜索 -->
            <if test="keyword != null and keyword != ''">
                AND (
                name LIKE CONCAT('%', #{keyword}, '%')
                OR description LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>

            <if test="lastId != null">
                AND id &lt; #{lastId}
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{size}
    </select>

    <select id="getAdminPage" resultType="cn.cxdproject.coder.model.entity.Tour">
        SELECT *
        FROM fi_tours
        WHERE deleted = 0
        AND id IN (
        SELECT id
        FROM fi_tours
        WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
            AND title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY created_at DESC
        LIMIT #{offset}, #{size}
        )
        ORDER BY created_at DESC
    </select>

    <select id="selectLatest10" resultType="cn.cxdproject.coder.model.entity.Tour">
        SELECT *
        FROM fi_tour
        ORDER BY created_at DESC
            LIMIT 10
    </select>

</mapper>
