<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cxdproject.coder.mapper.TourMapper">

    <resultMap id="BaseResultMap" type="cn.cxdproject.coder.model.entity.Tour">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="theme" property="theme" />
        <result column="features" property="features" />
        <result column="transport" property="transport" />
        <result column="hotel" property="hotel" />
        <result column="food" property="food" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="deleted" property="deleted" />
        <result column="image" property="image" />
        <result column="thumb_image" property="thumbImage"/>
        <result column="location_id" property="locationId"/>
        <result column="drama_id" property="dramaId"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `name`,
        `description`,
        `theme`,
        `features`,
        `transport`,
        `hotel`,
        `food`,
        `created_at`,
        `updated_at`,
        `deleted`,
        `image`,
        `thumb_image`,
        `location_id`,
        `drama_id`
    </sql>

    <select id="selectIds" resultType="long">
        SELECT id
        FROM fi_tours
        <where>
            deleted = 0
            <!-- 模糊搜索 -->
            <if test="keyword != null and keyword != ''">
                AND (
                name LIKE CONCAT('%', #{keyword}, '%')
                OR description LIKE CONCAT('%', #{keyword}, '%')
                OR theme LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>

            <if test="lastId != null">
                AND id > #{lastId}
            </if>
        </where>
        ORDER BY id ASC
        LIMIT #{size}
    </select>

    <select id="getAdminPage" resultType="cn.cxdproject.coder.model.entity.Tour">
        SELECT *
        FROM fi_tours
        WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (
            name LIKE CONCAT('%', #{keyword}, '%')
            OR description LIKE CONCAT('%', #{keyword}, '%')
            OR theme LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
        ORDER BY id ASC
        LIMIT #{offset}, #{size}
    </select>

    <select id="countAdminPage" resultType="long">
        SELECT COUNT(*)
        FROM fi_tours
        WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (
            name LIKE CONCAT('%', #{keyword}, '%')
            OR description LIKE CONCAT('%', #{keyword}, '%')
            OR theme LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
    </select>

    <select id="selectLatest10" resultType="cn.cxdproject.coder.model.entity.Tour">
        SELECT *
        FROM fi_tours
        WHERE deleted = 0
        ORDER BY id ASC
            LIMIT 10
    </select>

    <update id="updateTour">
        UPDATE fi_tours
        <set>
            <if test="dto.name != null and dto.name != ''">
                name = #{dto.name},
            </if>
            <if test="dto.description != null and dto.description != ''">
                description = #{dto.description},
            </if>
            <if test="dto.theme != null and dto.theme != ''">
                theme = #{dto.theme},
            </if>
            <if test="dto.features != null and dto.features != ''">
                features = #{dto.features},
            </if>
            <if test="dto.transport != null and dto.transport != ''">
                transport = #{dto.transport},
            </if>
            <if test="dto.hotel != null and dto.hotel != ''">
                hotel = #{dto.hotel},
            </if>
            <if test="dto.food != null and dto.food != ''">
                food = #{dto.food},
            </if>
            <if test="dto.image != null and dto.image != ''">
                image = #{dto.image},
            </if>
            <if test="dto.thumbImage != null and dto.thumbImage != ''">
                thumb_image = #{dto.thumbImage},
            </if>

            <if test="dto.locationId != null and dto.locationId != ''">
                location_id = #{dto.locationId},
            </if>
            <if test="dto.dramaId != null and dto.dramaId != ''">
                drama_id = #{dto.dramaId},
            </if>
            <if test="dto.deleted != null">
                deleted = #{dto.deleted},
            </if>
        </set>
        WHERE id = #{id}
        AND deleted = false
    </update>

    <select id="getTotal" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM fi_tours
        WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (
            name LIKE CONCAT('%', #{keyword}, '%')
            OR description LIKE CONCAT('%', #{keyword}, '%')
            OR theme LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
    </select>

</mapper>
